# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# PyPI configuration file
.pypirc


#utils
images/*
temp/*
mount/*

# NEW
import asyncio
import base64
import streamlit as st
from typing import Union, Literal
from utils.logger import logging
from utils.diva import DiVAConnector
from utils.helper import CustomHelper


class StreamlitConfiguration:
    def __init__(self) -> None:
        self.diva_connector = DiVAConnector()
        self.helper = CustomHelper()

    def update_title(self) -> None:
        st.set_page_config(
            layout="wide",
            page_title="DiVA",
            page_icon="images/logo white - alt 2-01.png",
        )

    def show_logo(self) -> None:
        img_path = "images/Logo - Black.png"
        with open(img_path, "rb") as img_file:
            encoded_string = base64.b64encode(img_file.read()).decode("utf-8")

        st.markdown(
            f"""
            <div style="display: flex; justify-content: center;">
                <img src="data:image/png;base64,{encoded_string}" width="200">
            </div>
            """,
            unsafe_allow_html=True,
        )

    def remove_deploy_btn(self) -> None:
        st.markdown(
            """
            <style>
                #MainMenu, footer, .stAppDeployButton, #stDecoration {visibility: hidden;}
            </style>
            """,
            unsafe_allow_html=True,
        )

    def session_state(self) -> None:
        defaults = {
            "encoded_image": None,
            "threshold": 0.3,
            "page": 1,
            "prediction_label": None,
            "query_image": 100,
            "raw_prediction_label": None,
            "raw_total_page": None,
            "similar_image": [],
            "image_uploaded_once": False,
            "image_filename": None,
        }
        for key, value in defaults.items():
            if key not in st.session_state:
                st.session_state[key] = value

    def sidebar(self) -> None:
        with st.sidebar:
            self.show_logo()
            st.markdown(
                "<div style='margin-bottom: 35px;'></div>", unsafe_allow_html=True
            )
            st.header("DiVA", help="DiVA stands for DFactory Image Retrieval")
            st.divider()

            self.image_uploader()
            is_image_uploaded = bool(st.session_state["encoded_image"])

            threshold = self.slider_input(
                label="Minimum classification accuracy",
                min_value=0.1,
                max_value=0.7,
                default_value=0.15,
                description="Set the minimum accuracy for retrieval results.",
                disabled=is_image_uploaded,
            )

            query_image = self.slider_input(
                label="Total query image",
                min_value=50,
                max_value=200,
                default_value=100,
                description="Choose how many images to search through.",
            )

            st.session_state["threshold"] = threshold
            st.session_state["query_image"] = query_image

            if st.session_state["similar_image"]:
                is_max_page_reached = (
                    st.session_state["raw_total_page"] == st.session_state["page"]
                )
                if is_max_page_reached:
                    st.warning("Reached maximum page.")

                self.custom_btn(
                    label="Load more",
                    description="Load more similar images.",
                    on_click=self.handle_load_more_btn,
                    disabled=is_max_page_reached,
                    type="primary",
                )

    def slider_input(
        self,
        label: str,
        min_value: Union[int, float],
        max_value: Union[int, float],
        default_value: Union[int, float],
        description: str,
        disabled: bool = False,
    ) -> Union[int, float]:
        return st.slider(
            label,
            min_value,
            max_value,
            default_value,
            help=description,
            disabled=disabled,
        )

    def custom_btn(
        self,
        label: str,
        description: str,
        on_click: callable = None,
        disabled: bool = False,
        type: Literal["primary", "secondary", "tertiary"] = "secondary",
    ) -> None:
        st.button(
            label, help=description, disabled=disabled, on_click=on_click, type=type
        )

    def handle_load_more_btn(self) -> None:
        st.session_state["page"] += 1
        with st.spinner("Fetching more images..."):
            response, status_code = asyncio.run(self.fetch_similar_image())
        if status_code == 200:
            st.session_state["similar_image"].extend(response["data"]["similar_image"])
        else:
            st.error("Error while loading more similar images.")

    async def fetch_similar_image(self) -> dict:
        return await self.diva_connector.grab_similar(
            encoded_image=st.session_state["encoded_image"],
            threshold=st.session_state["threshold"],
            query_image=st.session_state["query_image"],
            page=st.session_state["page"],
            prediction_label=st.session_state["prediction_label"],
        )

    def render_uploaded_image(self) -> None:
        logging.info("Rendering uploaded image.")
        st.image(
            base64.b64decode(st.session_state["encoded_image"]),
            caption=st.session_state["image_filename"],
            use_container_width=True,
        )

    def render_similar_image(self) -> None:
        logging.info("Rendering similar images.")

        images = {
            tuple(img.items()): img for img in st.session_state["similar_image"]
        }.values()

        if not images and st.session_state["encoded_image"]:
            st.warning("No similar images found. Try lowering the accuracy threshold.")

        if images:
            st.write("#### Similar Images")
            st.divider()

            num_columns = 3
            image_list = sorted(images, key=lambda x: x["accuracy"], reverse=True)

            for i in range(0, len(image_list), num_columns):
                cols = st.columns(num_columns)
                for j, col in enumerate(cols):
                    if i + j < len(image_list):
                        image_data = image_list[i + j]
                        image_path = image_data["filepath"]
                        accuracy = int(float(image_data["accuracy"]) * 100)
                        stream_image = image_data["stream_image"]

                        col.image(stream_image, use_container_width=True)
                        col.caption(f"Path: {image_path[6:]}")
                        col.caption(f"Similarity Score: {accuracy}%")


    def image_uploader(self) -> None:
        uploaded_image = st.file_uploader(
            "Upload image file",
            help="Accepts jpeg, jpg, png.",
            type=["jpeg", "jpg", "png"],
            accept_multiple_files=False,
        )

        if uploaded_image:
            logging.info(f"Uploaded image {uploaded_image.name}.")
            image_bytes = uploaded_image.read()
            encoded_image = base64.b64encode(image_bytes).decode("utf-8")

            if st.session_state["encoded_image"] != encoded_image:
                st.session_state.update(
                    {
                        "encoded_image": encoded_image,
                        "image_filename": uploaded_image.name,
                        "similar_image": [],
                        "image_uploaded_once": False,
                    }
                )

            st.write("##### Uploaded image")
            self.render_uploaded_image()

            if not st.session_state["image_uploaded_once"]:

                async def fetch_prediction():
                    response_api, response_code = await self.fetch_similar_image()
                    if response_code == 200:
                        st.session_state.update(
                            {
                                "raw_total_page": response_api["data"]["total_page"],
                                "raw_prediction_label": response_api["data"][
                                    "prediction_label"
                                ],
                                "similar_image": response_api["data"]["similar_image"],
                                "prediction_label": self.helper.convert_predicted_label(
                                    response_api["data"]["prediction_label"]
                                ),
                                "image_uploaded_once": True,
                            }
                        )

                asyncio.run(fetch_prediction())
        else:
            st.warning("Please upload an image.")
            st.session_state.update(
                {
                    "encoded_image": None,
                    "similar_image": [],
                    "prediction_label": None,
                    "image_filename": None,
                    "image_uploaded_once": False,
                }
            )

    def main(self) -> None:
        self.update_title()
        self.remove_deploy_btn()
        self.session_state()
        self.sidebar()
        self.render_similar_image()
        logging.info("Streamlit app loaded successfully.")


# OLD
import asyncio
import base64
import streamlit as st
from typing import Union, Literal
from utils.logger import logging
from utils.diva import DiVAConnector
from utils.helper import CustomHelper


class StreamlitConfiguration:
    def __init__(self) -> None:
        self.diva_connector = DiVAConnector()
        self.helper = CustomHelper()

    def update_title(self) -> None:
        st.set_page_config(
            layout="wide",
            page_title="DiVA",
            page_icon="images/logo white - alt 2-01.png",
        )

    def show_logo(self) -> None:
        img_path = "images/Logo - Black.png"

        with open(img_path, "rb") as img_file:
            encoded_string = base64.b64encode(img_file.read()).decode("utf-8")

        st.markdown(
            f"""
            <div style="display: flex; justify-content: center;">
                <img src="data:image/png;base64,{encoded_string}" width="200">
            </div>
            """,
            unsafe_allow_html=True,
        )

    def remove_deploy_btn(self) -> None:
        st.markdown(
            """
            <style>
                .reportview-container {
                    margin-top: -2em;
                }
                #MainMenu {visibility: hidden;}
                .stAppDeployButton  {visibility:hidden;}
                footer {visibility: hidden;}
                #stDecoration {display:none;}
            </style>
            """,
            unsafe_allow_html=True,
        )

    def session_state(self) -> None:
        if "encoded_image" not in st.session_state:
            st.session_state["encoded_image"]: str = None
        if "threshold" not in st.session_state:
            st.session_state["threshold"]: float = 0.3
        if "page" not in st.session_state:
            st.session_state["page"]: int = 1
        if "prediction_label" not in st.session_state:
            st.session_state["prediction_label"]: list = None
        if "query_image" not in st.session_state:
            st.session_state["query_image"]: int = 100
        if "raw_prediction_label" not in st.session_state:
            st.session_state["raw_prediction_label"]: list = None
        if "raw_total_page" not in st.session_state:
            st.session_state["raw_total_page"]: int = None
        if "similar_image" not in st.session_state:
            st.session_state["similar_image"]: list = []
        if "image_uploaded_once" not in st.session_state:
            st.session_state["image_uploaded_once"]: bool = False
        if "image_filename" not in st.session_state:
            st.session_state["image_filename"]: str = False

    def sidebar(self) -> None:
        with st.sidebar:
            self.show_logo()
            st.markdown(
                "<div style='margin-bottom: 35px;'></div>", unsafe_allow_html=True
            )
            st.header(body="DiVA", help="DiVA stands for DFactory Image Retrieval")
            st.divider()

            self.image_uploader()
            is_image_uploaded = bool(st.session_state["encoded_image"])

            threshold = self.slider_input(
                label="Minimum classification accuracy",
                min_value=0.1,
                max_value=0.7,
                default_value=0.15,
                description="Set the minimum accuracy required for retrieval results. A higher value ensures more precise matches, while a lower value allows for broader results. The threshold ranges from 0.1 (less strict) to 1.0 (highly strict).",
                disabled=is_image_uploaded,
            )


            query_image = self.slider_input(
                label="Total query image",
                min_value=50,
                max_value=200,
                default_value=100,
                description="Choose how many images to search through. A lower number means faster results but a lower chance of finding the best match. A higher number improves accuracy but takes longer process. (Tip: Start with 50 and increase if needed.)",
            )

            st.session_state["threshold"] = threshold
            st.session_state["query_image"] = query_image

            images = st.session_state["similar_image"]

            if images:
                is_total_page_reached = (
                    True
                    if int(st.session_state["raw_total_page"])
                    == int(st.session_state["page"])
                    else False
                )
                if is_total_page_reached:
                    st.warning("Reached maximum page.")

                self.custom_btn(
                    label="Load more",
                    description="Load more similar images.",
                    on_click=self.handle_load_more_btn,
                    disabled=is_total_page_reached,
                    type="primary",
                )





    def slider_input(
        self,
        label: str,
        min_value: Union[int, float],
        max_value: Union[int, float],
        default_value: Union[int, float],
        description: str,
        disabled: bool = False,
    ) -> Union[int, float]:
        return st.slider(
            label=label,
            min_value=min_value,
            max_value=max_value,
            value=default_value,
            help=description,
            disabled=disabled,
        )

    def select_box(self, label: str, options: list, disabled: bool = False) -> str:
        return st.selectbox(label=label, options=options, disabled=disabled)

    def custom_btn(
        self,
        label: str,
        description: str,
        on_click: callable = None,
        disabled: bool = False,
        type: Literal["primary", "secondary", "tertiary"] = "secondary",
    ) -> int:
        return st.button(
            label=label,
            help=description,
            disabled=disabled,
            on_click=on_click,
            type=type,
        )

    def handle_load_more_btn(self) -> None:
        st.session_state["page"] += 1

        with st.spinner("Fetching prediction..."):
            response, status_code = self.fetch_similar_image()

        if status_code == 200:
            st.session_state["similar_image"].extend(response["data"]["similar_image"])
        else:
            st.error("Error while loading more similar images.")

    def fetch_similar_image(self) -> dict:
        return asyncio.run(
            self.diva_connector.grab_similar(
                encoded_image=st.session_state["encoded_image"],
                threshold=st.session_state["threshold"],
                query_image=st.session_state["query_image"],
                page=st.session_state["page"],
                prediction_label=st.session_state["prediction_label"],
            )
        )

    def render_uploaded_image(self, encoded_image: str, filename: str) -> None:
        logging.info("Rendering uploaded image.")
        decoded_image = base64.b64decode(encoded_image)
        st.image(decoded_image, caption=f"{filename}", use_container_width=True)

    def render_predicted_label(self, predicted_label: dict) -> None:
        logging.info("Rendering predicted label.")
        converted = self.helper.convert_dataframe(data=predicted_label)
        st.text("Prediction Labels")
        st.bar_chart(data=converted, x="Label", y="Confidence")

    def render_similar_image(self) -> None:
        logging.info("Rendering similar images.")
        seen = set()
        unique_images = []
        for img in st.session_state["similar_image"]:
            img_tuple = tuple(img.items())
            if img_tuple not in seen:
                seen.add(img_tuple)
                unique_images.append(img)

        images = sorted(unique_images, key=lambda x: x["accuracy"], reverse=True)

        if not images and st.session_state["encoded_image"]:
            st.warning(
                "No similar images found. Please lower the minimum accuracy and try again."
            )

        if images:
            st.write("#### Similar Image")
            st.divider()

        num_columns = 3
        for i in range(0, len(images), num_columns):
            cols = st.columns(num_columns)
            for j, col in enumerate(cols):
                if i + j < len(images):
                    image_data = images[i + j]
                    image_path = image_data["filepath"]
                    accuracy = int(float(image_data["accuracy"]) * 100)
                    stream_image = image_data["stream_image"]
                    col.image(stream_image, use_container_width=True)
                    col.caption(f"Path: {image_path[6:]}")
                    col.caption(f"Similarity Score: {accuracy}%")

        if images:
            is_total_page_reached = (
                True
                if int(st.session_state["raw_total_page"])
                == int(st.session_state["page"])
                else False
            )
            if is_total_page_reached:
                st.warning("Reached maximum page.")

    def image_uploader(self) -> None:
        uploaded_image = st.file_uploader(
            label="Upload image file",
            help="Accept only 1 image data with extensions such as 'jpeg', 'jpg', 'png'.",
            type=["jpeg", "jpg", "png"],
            accept_multiple_files=False,
        )

        if uploaded_image:
            logging.info(f"Uploaded image {uploaded_image.name}.")
            image_bytes = uploaded_image.read()
            encoded_image = base64.b64encode(image_bytes).decode("utf-8")
            st.session_state["image_filename"] = uploaded_image.name

            if st.session_state["encoded_image"] != encoded_image:
                st.session_state["encoded_image"] = encoded_image
                st.session_state["similar_image"] = []
                st.session_state["image_uploaded_once"] = False

            st.write("##### Uploaded image")
            self.render_uploaded_image(
                encoded_image=encoded_image, filename=uploaded_image.name
            )

            if not st.session_state["image_uploaded_once"]:
                with st.spinner("Fetching prediction..."):
                    response_api, response_code = self.fetch_similar_image()

                if response_code == 200:
                    st.session_state["raw_total_page"] = response_api["data"][
                        "total_page"
                    ]
                    st.session_state["raw_prediction_label"] = response_api["data"][
                        "prediction_label"
                    ]
                    st.session_state["similar_image"] = response_api["data"][
                        "similar_image"
                    ]
                    st.session_state["prediction_label"] = (
                        self.helper.convert_predicted_label(
                            response_api["data"]["prediction_label"]
                        )
                    )
                    st.session_state["image_uploaded_once"] = True

        else:
            st.warning("Please upload an image")
            st.session_state["encoded_image"] = None
            st.session_state["similar_image"] = []
            st.session_state["prediction_label"] = None
            st.session_state["image_filename"] = None
            st.session_state["image_uploaded_once"] = False

    def main(self) -> None:
        start_time = self.helper.local_time()
        self.update_title()
        self.remove_deploy_btn()
        self.session_state()
        self.sidebar()
        self.render_similar_image()
        end_time = self.helper.local_time()
        elapsed_time = end_time - start_time
        logging.info(f"Elapsed process time: {elapsed_time}")
